<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
